<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    <script src="js/vendor/highcharts.js"></script>
    <script src="js/vendor/preline.js"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>
